In [27]:
import pandas as pd
from sklearn.utils import resample
df=pd.DataFrame({
    'Age':[22,25,27,28,30,35,40,45,50,55,60,65,70],
    'Income':[2000,2500,2700,3200,3500,3800,4000,4200,4300,4500,5000,5500,6000],
    'Class':['High','Low','Low','High','High','Low','High','High','Low','Low','High','High','Low']
})
print(df['Class'].value_counts())
df

Class
High    7
Low     6
Name: count, dtype: int64

    Age  Income Class
0    22    2000  High
1    25    2500   Low
2    27    2700   Low
3    28    3200  High
4    30    3500  High
5    35    3800   Low
6    40    4000  High
7    45    4200  High
8    50    4300   Low
9    55    4500   Low
10   60    5000  High
11   65    5500  High
12   70    6000   Low

High Class has 7 instances

Low Class has 6 instances

In [4]:
#Separate majority and minority classes
df_high = df[df['Class'] == 'High']
df_low = df[df['Class'] == 'Low']

In [23]:
#Downsample majority class
df_high_downsampled = resample(df_high, replace = False, n_samples = len(df_low), random_state = 42)

In [24]:
#Combine downsampled majority with minority class
df_balanced_down = pd.concat([df_high_downsampled, df_low])

In [25]:
print(df_balanced_down['Class'].value_counts())

Class
High    6
Low     6
Name: count, dtype: int64

In [26]:
df_balanced_down

    Age  Income Class
0    22    2000  High
3    28    3200  High
10   60    5000  High
4    30    3500  High
7    45    4200  High
6    40    4000  High
1    25    2500   Low
2    27    2700   Low
5    35    3800   Low
8    50    4300   Low
9    55    4500   Low
12   70    6000   Low

In [15]:
#Upsample minority class
df_low_upsampled = resample(df_low, n_samples = len(df_high), random_state = 42)

In [19]:
#Combine downsampled majority with minority class
df_balanced_up = pd.concat([df_low_upsampled, df_high])

In [20]:
print(df_balanced_up['Class'].value_counts())

Class
Low     7
High    7
Name: count, dtype: int64

In [21]:
df_balanced_up

    Age  Income Class
8    50    4300   Low
9    55    4500   Low
5    35    3800   Low
9    55    4500   Low
9    55    4500   Low
2    27    2700   Low
5    35    3800   Low
0    22    2000  High
3    28    3200  High
4    30    3500  High
6    40    4000  High
7    45    4200  High
10   60    5000  High
11   65    5500  High

In [43]:
pip install -U scikit-learn imbalanced-learn

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/a1/a6/c5b78606743a1f28eae8f11973de6613a5ee87366796583fb74c67d54939/scikit_learn-1.6.1-cp311-cp311-win_amd64.whl.metadata
  Using cached scikit_learn-1.6.1-cp311-cp311-win_amd64.whl.metadata (15 kB)
Collecting imbalanced-learn
  Obtaining dependency information for imbalanced-learn from https://files.pythonhosted.org/packages/9d/41/721fec82606242a2072ee909086ff918dfad7d0199a9dfd4928df9c72494/imbalanced_learn-0.13.0-py3-none-any.whl.metadata
  Downloading imbalanced_learn-0.13.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\cvr\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Collecting sklearn-compat<1,>=0.1 (from imbalanced-learn)
  Obtaining dependency information for sklearn-compat<1,>=0.1 from https://files.pythonhosted.org/packages/f0/a8/ad69cf130fbd017660cdd64abbef3f28135d9e2e15fe3002e03c5be0ca38/sklearn_compat-0.1.3-py3-none-any.whl.metadata
  Downloading sklearn_compat-0.1.3-py3-none-any.whl.metadata (18 kB)
Using cached scikit_learn-1.6.1-cp311-cp311-win_amd64.whl (11.1 MB)
Downloading imbalanced_learn-0.13.0-py3-none-any.whl (238 kB)
   ---------------------------------------- 0.0/238.4 kB ? eta -:--:--
   ------------------ --------------------- 112.6/238.4 kB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 238.4/238.4 kB 3.7 MB/s eta 0:00:00
Downloading sklearn_compat-0.1.3-py3-none-any.whl (18 kB)
Installing collected packages: scikit-learn, sklearn-compat, imbalanced-learn
Successfully installed imbalanced-learn-0.13.0 scikit-learn-1.6.1 sklearn-compat-0.1.3
Note: you may need to restart the kernel to use updated packages.

***SMOTE*** 

1.SMOTE to generate synthetic samples instead of duplicating existing ones.

2.Convert categorical class labels into numeric form for SMOTE to work.

3.Apply SMOTE to balance the dataset.

4.Convert back to original categorical labels.

5.Combine the resampled data into a final balanced dataset.

In [8]:
import pandas as pd
from imblearn.over_sampling import SMOTE

# Sample dataset
df = pd.DataFrame({
    'Age': [22, 25, 27, 28, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'Income': [2000, 2500, 2700, 3200, 3500, 3800, 4000, 4200, 4300, 4500, 5000, 5500, 6000],
    'Class': ['Minority', 'Majority', 'Majority', 'Majority', 'Majority','Minority', 'Minority', 'Minority', 'Majority', 'Majority', 'Majority', 'Majority', 'Majority']
})
print(df['Class'].value_counts())
# Step 1: Convert categorical labels to numerical values
df['Class'] = df['Class'].map({'Majority': 0, 'Minority': 1})

# Step 2: Split features (X) and target variable (y)
X = df[['Age', 'Income']]
y = df['Class']

# Step 3: Apply SMOTE with k_neighbors=3 (reducing from default 5)
smote = SMOTE(sampling_strategy='auto', random_state=42, k_neighbors=3)
X_resampled, y_resampled = smote.fit_resample(X, y)

# Step 4: Convert numeric Labels back to categorical
y_resampled = y_resampled.map({0: 'Majority', 1: 'Minority'})

# Step 5: Combine the resampled dataset
df_balanced = pd.concat([pd.DataFrame(X_resampled, columns=['Age', 'Income']), pd.DataFrame(y_resampled, columns=['Class'])], axis=1)

# Step 6: Print class distribution
print(df_balanced['Class'].value_counts())

# Step 7: Display the upsampled dataset
print(df_balanced)

Class
Majority    9
Minority    4
Name: count, dtype: int64
Class
Minority    9
Majority    9
Name: count, dtype: int64
    Age  Income     Class
0    22    2000  Minority
1    25    2500  Majority
2    27    2700  Majority
3    28    3200  Majority
4    30    3500  Majority
5    35    3800  Minority
6    40    4000  Minority
7    45    4200  Minority
8    50    4300  Majority
9    55    4500  Majority
10   60    5000  Majority
11   65    5500  Majority
12   70    6000  Majority
13   40    4031  Minority
14   35    3831  Minority
15   44    4176  Minority
16   35    3826  Minority
17   41    4040  Minority